.ProjectUserCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.ProjectUserCard h3 {
  font-size: 16px;
  margin: 0 0 0 0;
}

.ProjectUserCard .removeCollab {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  align-items: center;
  color: red;
}

.ProjectUserCard .removeCollab:hover {
  cursor: pointer;
  transform: scale(1.25);
}
