.OwnerProjectUserCard {
  display: flex;
  flex: 1;
  text-align: left;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-right: 40px;
  border-bottom: 1px solid #CCC;
}

.OwnerProjectUserCard h3 {
  font-size: 16px;
  margin: 0;
}

.OwnerProjectUserCard .removeCollab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: red;
  width: 10%;
}

.OwnerProjectUserCard .removeCollab:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.OwnerProjectUserCard .name {
  width: 90%;
  padding-left: 30px;
}
