.ProjectDashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.ProjectDashboard .scriptEditor {
  padding: 0;
  height: 100%;
  padding: 0 0 0 170px;
  border-right: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEE;
}

.ProjectDashboard.container {
  margin-left: 100px;
}

.ProjectDashboard .projectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
}

.ProjectDashboard .projectTitle h2, .ProjectDashboard .collabHeader h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.ProjectDashboard .collabHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.ProjectDashboard .collaborators {
  padding: 0;
  height: 100%;
  border-right: 1px solid #CCC;
  /*border-bottom: 1px solid #CCC;*/
}

.ProjectDashboard .addCollab {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.ProjectDashboard .addCollab:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.ProjectDashboard .glyphicon-plus {
  color: white;
}

.ProjectDashboard .deleteProjectButton {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #CCC;
  background-color: #AF6AE1;
  color: white;
  font-size: 20px;
}

.ProjectDashboard .deleteProjectButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 1px solid #CCC;
}

.ProjectDashboard .editProjectButton {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #CCC;
  background-color: #A8DAEF;
  color: white;
  font-size: 20px;
}

.ProjectDashboard .editProjectButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 1px solid #CCC;
}

.ProjectDashboard .glyphicon-trash {
  margin: 20px 30px 20px 40px;
  font-size: 22px;
}

.ProjectDashboard .glyphicon-pencil {
  margin: 20px 30px 20px 10px;
  font-size: 22px;
}

.ProjectDashboard .glyphicon-trash:hover, .ProjectDashboard .glyphicon-pencil:hover {
  transform: scale(1.35);
  cursor: pointer;
}
