.RichEditor-root {
  background: #fff;
  font-family: "Courier Prime Code";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  overflow: scroll;
  box-shadow: 6px 6px 4px #CCC;
}

.RichEditor-shotHeading {
  margin-left: 163.2px;
  margin-right: 105.6px;
  margin-top: 32px;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-bottom: 16px;
}

.RichEditor-fadeIn {
  margin-left: 1.7in;
  margin-right: 105.6px;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 1in;
}

.RichEditor-transition {
  margin-left: 576px;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-bottom: 16px;
}

.RichEditor-dialogue {
  margin-left: 259.2px;
  margin-right: 230.4px;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 0;
}

.RichEditor-characterName {
  margin-left: 4.1in;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.RichEditor-parenthetical {
  margin-left: 326.4px;
  margin-right: 297.6px;
  font-size: 16px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin-bottom: 0;
  margin-top: 0;
}

.RichEditor-root .DraftEditor-root {
  width: 8.5in;
}

.RichEditor-editor {
  cursor: text;
}

.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr span {
  background-color: white !important;
}

.RichEditor-direction {
  margin-left: 163.2px;
  margin-right: 105.6px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  border: none;
  padding: 0;
}

.ScriptEditor .RichEditor-pageNumber {
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin-left: 681.6px;
  background-color: white !important;
  border: none !important;
}

.RichEditor-pageNumber span {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 20px;
}

pre {
  font-family: 'Courier Prime Code';
  font-size: 16px;
  font-weight: normal;
  color: black;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

pre.public-DraftStyleDefault-pre span {
  height: 16px;
  max-width: 20px;
}

pre.public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.00) !important;
  border: none;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: normal;
  color: black;
}

.RichEditor-pageBreak {
  margin: 96px 0 0 0;
  border-bottom: 1px solid black;
  width: 100%;
  height: 0;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background-color: white;
  width: 180px;
  height: 400px;
  border: 2px solid black;
  box-shadow: 1px 3px 3px #CCC;
}

.RichEditor-styleButton {
  color: black;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
  margin-right: 0;
}

.RichEditor-styleButton:hover {
  transform: scale(1.25);
}

.RichEditor-activeButton:hover {
  transform: scale(1);
}

.RichEditor-activeButton {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-right: 0;
}

.RichEditor-controls h2 {
  margin: 0 auto;
  text-decoration: underline;
  font-size: 25px;
  color: black;

}

.public-DraftEditor-content {
  border: 1px solid black;
  min-height: 11in;
}

.RichEditor-root {
  width: 8.5in;
  height: 100%;
}

.ScriptEditor {
  display: flex;
  justify-content: center;
}

.ScriptEditor .controls {
  display: flex;
  align-items: flex-start;
  width: 1200px;
}
