.RichEditor-root {
  background: #fff;
  /*border: 1px solid #ddd;*/
  font-family: "Courier Prime Code";
  font-size: 16px;
  /*padding: 15px;*/
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /*max-width: 660px;*/
  height: 100%;
  margin: 0;
  overflow: scroll;
}

.RichEditor-shotHeading {
  margin-left: 163.2px;
  margin-right: 105.6px;
  margin-top: 32px;
  font-size: 16px;
  color: black;
  font-weight: normal;
  /*font-style: normal;*/
  margin-bottom: 16px;
}

.RichEditor-fadeIn {
  margin-left: 1.7in;
  margin-right: 105.6px;
  /*margin-top: 32px;*/
  font-size: 16px;
  color: black;
  font-weight: normal;
  /*font-style: normal;*/
  margin-bottom: 16px;
  margin-top: 1in;
}

.RichEditor-transition {
  margin-left: 576px;
  /*margin-right: 105.6px;*/
  /*margin-top: 32px;*/
  font-size: 16px;
  color: black;
  font-weight: normal;
  /*font-style: normal;*/
  margin-bottom: 16px;
  /*margin-top: 16px;*/
}

.RichEditor-dialogue {
  margin-left: 259.2px;
  margin-right: 230.4px;
  /*margin-top: 32px;*/
  font-size: 16px;
  color: black;
  font-weight: normal;
  /*font-style: normal;*/
  margin-bottom: 16px;
  margin-top: 0;
}

.RichEditor-characterName {
  margin-left: 4.1in;
  /*margin-right: 230.4px;*/
  /*margin-top: 32px;*/
  font-size: 16px;
  color: black;
  font-weight: normal;
  /*font-style: normal;*/
  margin-bottom: 0;
  margin-top: 0;
}

.RichEditor-parenthetical {
  margin-left: 326.4px;
  margin-right: 297.6px;
  /*margin-top: 32px;*/
  font-size: 16px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  /*font-style: normal;*/
  margin-bottom: 0;
  margin-top: 0;
}

.RichEditor-root .DraftEditor-root {
  /*min-height: 1056px;*/
  /*max-height: 1056px;*/
  width: 8.5in;
  /*padding-top: 30px;*/
  /*padding-bottom: 60px;*/
}

.RichEditor-editor {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  /*color: black;*/
  /*font-weight: normal;*/
  /*font-size: 16px;*/
  /*margin-top: 10px;*/
}

.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr span {
  background-color: white !important;
}

/*.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}*/

/*.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}*/

/*.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}*/

/*.RichEditor-editor .RichEditor-direction {
  margin-left: 163px;
  margin-right: 105px;
}*/

.RichEditor-direction {
  /*border-left: 5px solid #eee;*/
  /*color: #666;*/
  /*font-family: "Courier Prime Code";*/
  /*font-style: italic;*/
  margin-left: 163.2px;
  margin-right: 105.6px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  /*padding: 10px 20px;*/
}

.RichEditor-pageNumber {
  /*border-left: 5px solid #eee;*/
  /*color: #666;*/
  /*font-family: "Courier Prime Code";*/
  /*font-style: italic;*/
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin-left: 681.6px;
  /*margin-bottom: 12px;*/
  /*padding: 10px 20px;*/
}

/*.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}*/

.RichEditor-pageBreak {
  margin: 96px 0 0 0;
  border-bottom: 1px solid black;
  width: 100%;
  height: 0;
}

/*.pageBreak {
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin-left: 681.6px;
}*/

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.public-DraftEditor-content {
  border: 1px solid black;
  /*min-height: 1056px;*/
  /*padding-top: 48px;*/
  /*padding-bottom: 60px;*/
}

.RichEditor-root {
  width: 8.5in;
  height: 100%;
}

.ScriptEditor {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}


/*Contact GitHub API Training Shop Blog About*/
/*© 2017 GitHub, Inc. Terms Privacy Security Status*/
