@font-face {
  font-family: 'Courier Prime Code';
  src: url('/assets/fonts/courierPrime/Courier Prime Code.ttf');
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Courier Prime Code';*/
}

/*.screenplayFont {
  font-family: "Courier Prime Code";
}*/
